.cfg-input-wrapper {
  display: flex;
  justify-content: space-between;
}

.cfg-txt-input {
  float: left;
  padding-left: 40vh;
}

.cfg-del-cols {
  float: right;
  padding-right: 40vh;
  height: 30vh;
  overflow-y: scroll;
}

.col-checkbox-label {
  padding-right: 10px;
}
