.cfg-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  height: 30vh;
  overflow-y: scroll;
}

.column-config-table {
  width: 50vw;
}

.table-name-label {
  font-weight: bold;
}